In [8]:
import pandas as pd
import numpy as np

article_read = pd.read_csv(
    "./Class#12_Pandas_Python/pandas_tutorial_read.csv",
    delimiter=";",
    names=["my_datetime", "event", "country", "user_id", "source", "topic"],
)
article_read.groupby("source").count()

         my_datetime  event  country  user_id  topic
source
AdWords          500    500      500      500    500
Reddit           949    949      949      949    949
SEO              346    346      346      346    346

In [20]:
a = article_read[article_read.country == "country_2"]
a.groupby(["topic", "source"]).count()

                       my_datetime  event  country  user_id
topic         source
Africa        AdWords            3      3        3        3
              Reddit            24     24       24       24
              SEO                7      7        7        7
Asia          AdWords           31     31       31       31
              Reddit           139    139      139      139
              SEO                9      9        9        9
Australia     AdWords            6      6        6        6
              Reddit            18     18       18       18
              SEO               10     10       10       10
Europe        AdWords           46     46       46       46
              Reddit            29     29       29       29
              SEO                4      4        4        4
North America AdWords           11     11       11       11
              Reddit            27     27       27       27
              SEO               42     42       42       42
South America AdWords           14     14       14       14
              Reddit            26     26       26       26
              SEO               16     16       16       16